<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<div class="container">
  <h1>All URL</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {% for post in site.posts %}
      <tr>
        <th scope="row">{{ post.url }}</th>
        <td>{{ post.redirect }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
